@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    color: #bd7a3c;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Largura do container */
    height: 500px; /* Altura do container */
    background-image: url('/source/arquivos/wp.gif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}



.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1b1b1b;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    border-radius: 90px;
}

.interface{
    font-size: 70px;
}

.menu{
    display: flex;
    flex-direction: column;
}

.botao{
    display: inline-block;
    padding: 20px 40px; 
    text-decoration: none;
    background-color: #bd7a3c; 
    color: #1b1b1b; 
    border: 2px solid #9b672c;
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 20px;
}

.botao:hover{
    background-color: #6f3778; /* Cor de fundo ao passar o mouse */
    color: #1b1b1b; /* Cor do texto ao passar o mouse */
}